@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.1448 0 0);
    --color-card: oklch(1 0 0);
    --color-card-foreground: oklch(0.1448 0 0);
    --color-popover: oklch(1 0 0);
    --color-popover-foreground: oklch(0.1448 0 0);
    --color-primary: oklch(0.6521 0.1322 81.5716);
    --color-primary-foreground: oklch(1 0 0);
    --color-secondary: oklch(0.2178 0 0);
    --color-secondary-foreground: oklch(0.8868 0.1822 95.3305);
    --color-muted: oklch(0.9672 0 0);
    --color-muted-foreground: oklch(0.5555 0 0);
    --color-accent: oklch(0.9713 0.0224 87.15);
    --color-accent-foreground: oklch(0.6521 0.1322 81.5716);
    --color-destructive: oklch(0.6368 0.2078 25.3313);
    --color-destructive-foreground: oklch(0.9842 0.0034 247.8575);
    --color-border: oklch(0.9219 0 0);
    --color-input: oklch(0.9219 0 0);
    --color-ring: oklch(0.6521 0.1322 81.5716);
    --color-chart-1: oklch(0.6521 0.1322 81.5716);
    --color-chart-2: oklch(0.2178 0 0);
    --color-chart-3: oklch(0.8868 0.1822 95.3305);
    --color-chart-4: oklch(0.3715 0 0);
    --color-chart-5: oklch(0.7665 0.1387 91.0594);
    --color-sidebar: oklch(0.1448 0 0);
    --color-sidebar-foreground: oklch(0.8868 0.1822 95.3305);
    --color-sidebar-primary: oklch(0.8868 0.1822 95.3305);
    --color-sidebar-primary-foreground: oklch(0.1448 0 0);
    --color-sidebar-accent: oklch(0.2178 0 0);
    --color-sidebar-accent-foreground: oklch(0.8868 0.1822 95.3305);
    --color-sidebar-border: oklch(0.2686 0 0);
    --color-sidebar-ring: oklch(0.8868 0.1822 95.3305);

    --font-sans: Inter, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius-sm: 0rem;
    --radius-md: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 1rem;

    --shadow-2xs: 0px 1px 1.5px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.05), 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.05), 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.05), 0px 2px 6px 0px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.05), 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.05), 0px 6px 12px 0px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.05), 0px 8px 16px 0px hsl(0 0% 0% / 0.05);
    --tracking-tighter: -0.025em;
    --tracking-tight: -0.0125em;
    --tracking-normal: 0em;
    --tracking-wide: 0.0125em;
    --tracking-wider: 0.025em;
    --tracking-widest: 0.05em;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
